# Do not publish configuration root files
.editorconfig
.eslintignore
.eslintrc.json
.prettierrc.json

# Do not publish test files
test

# Do not publish code coverage report files
.nyc_output

# Do not publish demo files
demo